@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

.checkoutParent {
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    height: 100vh;
    overflow: hidden;
    width: 100%;
    top: 0;
    left: 0;
}
.checkout h3 {
    font-size: 35px;
    text-align: center;
    font-family: "Pacifico", cursive;
    color: #8c1c13;
    padding-top:25px ;
}
.checkout{
    padding-bottom: 25px;
position: fixed;
top: 30%;
background-color: white;
left: 30%;
border-radius: 20px;
border: 1px solid #8c1c13;
width: 40%;
}
.checkout form {
    display: flex;
flex-direction: column;
align-items: center;
font-family: "Fredoka", sans-serif;

justify-content: center;

}
.name ,.email{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 85%;
    gap: 10px;
    margin-bottom: 10px;
}
.name input , .email input{
    border: none;
    padding: 5px ;
    border-radius: 15px;
    border: 1px solid #c0c0c0;

}
.name input:focus , .email input:focus{
    outline: none;
    border: 1px solid #8c1c13;
}
.name label , .email label{
    padding-left: 5px;
    font-weight: 500;
}
.buttons  button{
    margin-left: 10px;
    margin-top: 15px;
    border: none;
    padding: 10px 15px;
    width: 120px;
    border-radius: 50px;
    color: white;
}
.checkoutButton{
    background-color: #283618;
}
.cancelButton {
    background-color: #606c38;
}
.checkoutButton:hover{
    box-shadow:0 0 5px #161f0b;
}
.cancelButton:hover {
    box-shadow:0 0 5px rgb(57, 65, 33);
}
